<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>rat1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 0}, {82, 69}}</string>
			<key>spriteOffset</key>
			<string>{12, -0}</string>
			<key>spriteSize</key>
			<string>{82, 69}</string>
			<key>spriteSourceSize</key>
			<string>{120, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 65}, {82, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rat2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 7}, {68, 61}}</string>
			<key>spriteOffset</key>
			<string>{22, -3}</string>
			<key>spriteSize</key>
			<string>{68, 61}</string>
			<key>spriteSourceSize</key>
			<string>{120, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 124}, {68, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rat3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{52, 8}, {64, 61}}</string>
			<key>spriteOffset</key>
			<string>{24, -4}</string>
			<key>spriteSize</key>
			<string>{64, 61}</string>
			<key>spriteSourceSize</key>
			<string>{120, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 136}, {64, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rat4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {98, 63}}</string>
			<key>spriteOffset</key>
			<string>{-11, 1}</string>
			<key>spriteSize</key>
			<string>{98, 63}</string>
			<key>spriteSourceSize</key>
			<string>{120, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {98, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rat5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 11}, {98, 57}}</string>
			<key>spriteOffset</key>
			<string>{10, -5}</string>
			<key>spriteSize</key>
			<string>{98, 57}</string>
			<key>spriteSourceSize</key>
			<string>{120, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 65}, {98, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rat6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 8}, {88, 61}}</string>
			<key>spriteOffset</key>
			<string>{16, -4}</string>
			<key>spriteSize</key>
			<string>{88, 61}</string>
			<key>spriteSourceSize</key>
			<string>{120, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 0}, {88, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>rat</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>rat</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>rat</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>